.t-ddc {
   max-width: 100%;
   max-height: 100%;
   min-height: 0px;
}
 
.t-table {
  box-sizing: border-box;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  border: solid rgb(167, 167, 167) 1px;
  max-width: 100%;
  max-height: 100%;
  /* max-height: max-content; */
  min-height: 0px;
  min-width: 0px;
  width: fit-content;
}

.t-header-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-x: auto;
  min-height: min-content;
  border-bottom: solid rgb(167, 167, 167) 1px;
  max-height: max-content;
}

.t-header-wrapper::-webkit-scrollbar {
  display: none;
}

.t-header {
  display: flex;
  min-width: -webkit-min-content;
  min-width: min-content;
  min-height: -webkit-min-content;
  min-height: min-content;
  height: 40px;
}

.t-head {
  flex: 0 0 none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 0 0.5em;
}

.t-body {
  /* max-width: 100%; */
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.t-row {
  display: flex;
  min-height: 1.5rem;
  border-bottom: 1px solid rgb(167, 167, 167);
  min-width: fit-content;
}

.t-row:hover {
  color: var(--hover-color) !important;
  background-color: var(--hover-background) !important;
}

.t-cell {
  flex: 0 0 none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  padding: 0 0.5em;
}

.t-expand-button, .t-expand-space {
  min-width: 1em;
  max-width: 1em;
  margin-right: .25em;
}

.t-expand-button {
  justify-content: center;
  cursor: pointer;
  flex: 0 0 auto;
  padding: 0px;
}

.t-drag-gutter {
  padding: 2px 0;
}
.t-drag-gutter.t-draggable { cursor: grab; }
.t-dragging { cursor: grabbing; }
.t-row.t-dragging {
  /* background-color: #efefef; */
  box-shadow: 0 0 7px 0 #333;
  z-index: 9999;
}