.t-ddc {
   max-width: 100%;
   max-height: 100%;
}
 
.t-table {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: solid rgb(167, 167, 167) 1px;
  max-width: 100%;
  max-height: 100%;
  width: fit-content;
}

.t-header-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-x: auto;
  min-height: min-content;
  border-bottom: solid rgb(167, 167, 167) 1px;
}

.t-header-wrapper::-webkit-scrollbar {
  display: none;
}

.t-header {
  display: flex;
  /* min-height: 40px; */
  min-width: -webkit-min-content;
  min-width: min-content;
  min-height: -webkit-min-content;
  min-height: min-content;
  height: 40px;
}

.t-head {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 0px 8px;
}

.t-body {
  /* max-width: 100%; */
  display: grid;
  grid-template-columns: 25px repeat(var(--column-count), 1fr);
  overflow: auto;
}

.t-body.t-dragging { cursor: grabbing !important }

.t-body-buffer { grid-column: 1 / -1 }

.t-cell.t-dragging {
  box-shadow: 0px 0px 10px 1px grey;
  background-color: #efefef;
}

.t-draggable {
  cursor: grab;
}

.t-cell {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 25px;
  user-select: none;
  white-space: nowrap;
  padding: 0px 8px;
  border-bottom: solid rgb(167, 167, 167) 1px;
}

.t-expand-button, .t-expand-space {
  width: 25px;
  min-width: 25px;
  max-width: 25px;
}

.t-expand-button {
  justify-content: center;
  cursor: pointer;
  flex: 0 0 auto;
  padding: 0px;
}
